:link    {color: #3333DD; background-color:transparent}
:visited {color: #555555; background-color:transparent}



body {
	background-image: 
		linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),
	url("mort.jpg");
	filter: brightness(100%);
	/*background: #EFEFDE;*/
	color: black;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.highlighted { color: #333333; 	background: #FEFEFE; padding-bottom: 3%;}

.not-highlighted { background: #EEEEEE; }

.padding { padding-left: 5%; padding-right: 5% }

.center { text-align: center; }

#top-menu {
	padding-bottom: 1%;
}

.lbs-title {
	text-align: center;
	background: #DDDDEE;
}

.lbs-topnav {
	vertical-align: text-bottom;
}

.lbs-topnav-text-but {
	float: left;
	background: #DDDDEE;
	text-align: left;
	margin-left: 10px;
	margin-top: 10px;
}

h1 { color: #000000; background: transparent; font-size: 200%; }


.float-left  {
	margin: 5px 10px 10px 10px;
	float: left;
	color: #EFEFDF;
	background: inherit;
	border:0;
}

.float-right {
	margin: 5px 10px 10px 10px;
	float: right;
	color: #EFEFDF;
	background: inherit;
	border:0;
}

.nav {
	color: #EFEFDF;
	background: inherit;
	border:0;
}

hr { clear: both; }

.quote {
	padding-left: 15%;
	padding-right: 15%;
}

.quote-body {
	color: black;
	background: transparent;
}

.quote-sep {
	width: 40%;
}

.version-history {
	list-style: disc;
}


.lbs-toolbar {
	background: #DDDDEE;
	text-align: center;
}

.lbs-local-credits {
	font-size: 80%;
	text-align: center;
	background: #DDDDEE;
}

.lbs-global-credits {
	font-size: 80%;
	text-align: center;
	background: #DDDDEE;
}

.page-tag {
	/*color: #339977;*/
	color: #000033;
	background: transparent;
	font-size: 1.2em;
	font-weight: bold;
}

.terryquote {

	color: #880000;
	background: transparent;
	padding-left: 10%;
	padding-right: 10%;
}

.annoquote {
	color: #333344;
	background: transparent;
	padding-top: 2ex;
	font-weight: bold;
}

.deathquote {
	font-size: 80%;
}

blockquote.stanza {
	font-style: italic;
}

.vertical-menu {
	float: left;
	color: #3333DD;
}